.account{
    a{
        color:#666666;
    }
    table, tr, th, td{
        font-family: "Roboto", sans-serif;
        font-size: small;
    }
    form{padding:1rem 0;}
}
.modal{
    table, tr, th, td{
        font-family: "Roboto", sans-serif;
        font-size: small;
    }
}